html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
}
canvas {
  display: block;
}

@font-face {
  font-family: font1;
  src: url('assets/Mikodacspcs1.otf');
  font-weight:normal;
}